
*.db
*.db-shm
*.db-wal
switchboard.toml
backend/crates/config/switchboard.toml
/backend/.sqlx
/.devcontainer
/.pnpm-store
/node_modules
/zaistats
.env
.tmp-authware/
*.log
apps/web-dev.log
apps/apps-web-dev.log
switchboard-backend.log
